@font-face {
    font-family: 'raleway-bold';
    src: url('../fonts/raleway-bold/raleway-bold.eot');
    src: url('../fonts/raleway-bold/raleway-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-bold/raleway-bold.woff2') format('woff2'),
        url('../fonts/raleway-bold/raleway-bold.woff') format('woff'),
        url('../fonts/raleway-bold/raleway-bold.ttf') format('truetype'),
        url('../fonts/raleway-bold/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-semibold';
    src: url('../fonts/raleway-semibold/raleway-semibold.eot');
    src: url('../fonts/raleway-semibold/raleway-semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-semibold/raleway-semibold.woff2') format('woff2'),
        url('../fonts/raleway-semibold/raleway-semibold.woff') format('woff'),
        url('../fonts/raleway-semibold/raleway-semibold.ttf') format('truetype'),
        url('../fonts/raleway-semibold/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-regular';
    src: url('../fonts/raleway-regular/raleway-regular.eot');
    src: url('../fonts/raleway-regular/raleway-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-regular/raleway-regular.woff2') format('woff2'),
        url('../fonts/raleway-regular/raleway-regular.woff') format('woff'),
        url('../fonts/raleway-regular/raleway-regular.ttf') format('truetype'),
        url('../fonts/raleway-regular/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-light';
    src: url('../fonts/raleway-light/raleway-light.eot');
    src: url('../fonts/raleway-light/raleway-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/raleway-light/raleway-light.woff2') format('woff2'),
        url('../fonts/raleway-light/raleway-light.woff') format('woff'),
        url('../fonts/raleway-light/raleway-light.ttf') format('truetype'),
        url('../fonts/raleway-light/raleway-light.svg#raleway-light') format('svg');
    font-weight: normal;
    font-style: normal;
}




